<section id="education" class="container content-section text-center">
    <div class="row  content-details">
        <div class="col-xs-18 ">
            <h2 class="brand-heading">Education</h2>
            <hr>
            <div class="container-fluid">
                <!-- Devry row -->
                <div class="row padding-5 education-details">
                    <div class="col-xs-6 text-left">
                        <h4>DeVry University, Addison IL</h4>
                        <h5 class="light">Bachelors of Science in Computer Engineering Technology</h5>
                    </div>
                    <div class="col-xs-6 text-right">
                        <h4>2011 - 2014</h4>
                    </div>
                </div>
                <!-- /Devry row -->

                <!-- ASIA row
                <div class="row padding-5 education-details">
                    <div class="col-xs-6 text-left">
                        <h4>Asia English School, India</h4>
                        <h5 class="light">High School</h5>
                    </div>
                    <div class="col-xs-6 text-right">
                        <h4>2004 - 2008</h4>
                    </div>
                </div>
                    /ASIA row -->
            </div>
        </div>
    </div>
</section>
